
<button (click)="setVisible()">
  {{visible? 'Ocultar':'Mostrar'}}
</button>

@if (visible) {
  <h2>{{ title }}</h2>
  <div>
    <p>Total: {{counter}}</p>
  </div>
  @if (users != undefined && users.length > 0) {
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index) {
          <tr >
            <td>{{$index +1}}</td>
            <td>{{user}}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div>
      <p>No existe registro en sistema!</p>
    </div>
  }

} @else {
  <div>
    <p>Lo sentimos no esta disponible esta pagina</p>
  </div>
}

<app-counter [title]="subTitle" (counterEmmit)="setCounter($event)"></app-counter>

<!-- <div *ngIf="visible; else notEnable">
  <h2>{{ title }}</h2>
</div>

<div *ngIf="visible">
  <table *ngIf="(users != undefined && users.length > 0) else isEmpty">
    <thead>
      <th>
        <tr>id</tr>
        <tr>name</tr>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td>{{i+1}}</td>
        <td>{{user}}</td>
      </tr>
    </tbody>
  </table>
  
  <ng-template #isEmpty>
    <div>
      No existe registro en sistema!
    </div>
  </ng-template>
</div>

<ng-template #notEnable>
  <div>
    Lo sentimos no esta disponible esta pagina
  </div>
</ng-template> -->